/* Giving the site a new font, setting margin and aligning all the text to center */
html {
    font-family: "montserrat", sans-serif;
    margin: 0 auto;
    text-align: center;

}

/* Making sure all images are set to a 100% width */
img {
    max-width: 100%;
}

/* navigation styling for mobile version */
.main-nav {
    text-align: center;
    padding-bottom: 5px;

}

/*  Giving the header a background color to not make it look empty */
header {
    background-color: #F2D2BD;
}

/*  styling the skiplinks */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

/* Making sure skip links are not visible */
.skip-links a {
    position: absolute;
    top: -3em;
    left: 20em;
    background-color: white;
    color: black;
    padding: .5em 1em;
    font-weight: bold;
}

/* Making skip links visible when pressed tab */
.skip-links a:focus {
    top: 0;
}

/* Styling the navigation */
nav ul a {
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    color: #192628;
}

nav ul li {
    padding: 10px;

}

/* Giving the navigation a hover color */
nav ul a:hover {
    color: #FA4A0c;
}

/* Making the current page stay orange */
nav ul li a[aria-current="page"] {
    color: #FA4A0c;
}

/* Making it so if clicked, the navigation button will appear blue */
nav ul li a:active {
    color: blue;
}

/* Styling the header and making a fade in animation from the bottom */
.welcome-header,
.about-header,
.contact-header {
    text-align: center;
    background-color: #fafafa;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
}

@keyframes fade-in {
    0% {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/* styling welcome food */
.welcome-food {
    color: #737373;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 50px;
}

/* Styling the h1 of the site */
h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: #252b42;
    padding: 10px;
    margin-top: 20px;
}

/* Styling the welcome paragraph */
.welcome-paragraph {
    color: #737373;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 30px 60px 30px;
    line-height: 40px;
}

/* Giving the buttons a flex and aligning them to the center */
.welcome-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the buttond */
.header-btn1 {
    font-weight: 550;
    text-decoration: none;
    background-color: #FA4A0c;
    color: white;
    font-size: 1.4em;
    border-radius: 20px;
    border: 2px solid #FA4A0c;
    padding: 10px 40px 10px 40px;
}

.header-btn2 {
    font-weight: 550;
    text-decoration: none;
    background-color: #fafafa;
    color: #FA4A0c;
    font-size: 1.4em;
    border-radius: 20px;
    border: 2px solid #FA4A0c;
    padding: 10px 36px 10px 36px;
}

/* Adding space between the buttons */
.btn1-space {
    padding-bottom: 50px;
}

/* Giving the buttons a hover animation and back to normal */
.header-btn1:hover {
    color: #FA4A0c;
    background-color: white;
    transition: 0.5s;
}

.header-btn1 {
    transition: .5s;
}

/* Giving the buttons a hover animation and back to normal */
.header-btn2:hover {
    color: white;
    background-color: #FA4A0c;
    transition: 0.5s;
}

.header-btn2 {
    transition: .5s;
}

/* styling the two-mobile image so that it stays on the banner */
/* Giving the image a bounce animation, infinite animation */
.two-mobile {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    animation-name: mobile-bounce;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.46, .13, .62, .9);
    animation-iteration-count: infinite;

}

@keyframes mobile-bounce {
    0% {
        transform: translate(0px, 20px);
    }

    50% {
        transform: translate(0px, 0px);

    }

    100% {
        transform: translate(0px, 20px);

    }
}

/* Styling a heading */
.how-app {
    font-size: 1.5em;
    font-weight: 600;
}

/* Styling all h3s on the site */
h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 50px 50px 50px;
    color: #FA4A0c;
}

/* Styling h2s on the site */
h2 {
    font-size: 2.5em;
    margin: 20px;
    font-weight: 700;
    line-height: 60px;
    color: #192628;
}

/* Styling the 3 paragraphs in each section */
.section-one p,
.section-two p,
.section-three p {
    font-size: 1.5em;
    color: #737373;
    line-height: 30px;
    margin: 30px;
}

/* Making sure the images are centered and their position is relative */
.section-one-image,
.section-two-image {
    position: relative;
    margin-left: 40px;
}

/* Making the image centered and position relative */
.section-three-image {
    position: relative;
    margin-left: 30px;
}

/* Styling the hr and giving it margins */
hr {
    margin: 50px 0 50px 0;
}

/* Making sure the banner is not displayed on mobile version and a paragraph */
.bottom-banner,
.download-p2 {
    display: none;
}

/* giving download section a background color */
.downloading-section {
    background-color: #252b42;
}

/* styling the heading in downloading section */
.downloading-section h3 {
    color: #fafafa;
    font-size: 2.5em;
    font-weight: 500;
    padding: 60px 10px 0 10px;
    line-height: 60px;
}

/* styling the paragraph in download section */
.downloading-section p {
    color: #bdbdbd;
    margin: 0 40px 40px 40px;
    line-height: 40px;
}

/* Making sure the footer logo does not display in mobile styles */
.footer-logo {
    display: none;
}

/* Removing the list from button in download section */
.download-button a {
    list-style: none;
}

/* Adding 2 new buttons with same colors but different stylings */
.playstore-btn {
    font-weight: 550;
    text-decoration: none;
    background-color: #FA4A0c;
    color: white;
    font-size: 1.4em;
    border-radius: 7px;
    border: 2px solid #FA4A0c;
    padding: 10px 40px 10px 40px;

}

.appstore-btn {
    font-weight: 550;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    border-radius: 7px;
    border: 2px solid white;
    padding: 10px 36px 10px 36px;
}

/* Giving the buttons a padding so the background color goes a lot more to the bottom */
.download-button {
    padding-bottom: 100px;
}

/* Giving the buttons a hover animation */
.appstore-btn:hover {
    color: #FA4A0c;
    border-color: #FA4A0c;
    transition: 0.5s;
}

.appstore-btn {
    transition: .5s;
}


.playstore-btn:hover {
    color: #FA4A0c;
    background-color: white;
    transition: 0.5s;
}

.playstore-btn {
    transition: .5s;
}

/* Adjusting the social icons */
.social-icons a {
    margin: 15px;
}

/* Giving some space to the site footer */
.site-footer {
    margin: 60px;
}

/* styling the copyright paragraph */
.copyright {
    padding: 20px;
    font-size: 1.3em;
}

/* Styling about pages heading */
.page-h2,
.about-set-h2 {
    font-size: 2em;
    font-weight: 500;
}

/* Styling the h2 for about page */
.about-set-h2 {
    padding-bottom: 20px;
}

/* Giving the sections a background color to match with the previous page */
.about-intro,
.our-story,
.about-join {
    background-color: #252b42;
}

/* adjusting the paragraphs in the section */
.intro-grid p,
.about-join p,
.contact-info p {
    color: #fafafa;
    font-size: 1.1em;
    padding: 0 15px 35px 15px;
    line-height: 25px;
    margin: 15px 15px 40px 15px;
}

/* Adjusting the padding for h3s */
.intro-grid h3 {
    padding-top: 30px;
}

.intro-grid {
    padding: 20px;
}

/* Adjusting the delivery images background color so it stays visible even when responsive */
.delivery-img {
    margin-top: 20px;
    padding: 20px;
    background-color: #FA4A0c;
}

/* Styling the cards */
.card {
    border-radius: 12px;
    margin: 20px;
    background-color: seashell;
    border: 1px solid slategray;

}

/* Styling cards headings */
.cards h3 {
    color: #252b42;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 35px;
}

/* styling cards paragraphs */
.cards p {
    font-size: 1.1em;
    line-height: 25px;
    padding: 0 20px 40px 20px;
}

.join-us {
    padding-top: 30px
}

.about-join {
    padding-bottom: 50px;
}

/* Styling contact information and giving it a background color */
.contact-info {
    background-color: #252b42;
    padding: 30px 0 20px 0;
    margin: 20px;
}

/* refreshing contact paragraphs margins and paddings */
.contact-p {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* giving the social links section a background color and styling its contencts */
.social-link {
    background-color: #252b42;
    color: white;
    font-size: 1.2em;
    padding: 30px 20px 40px 20px;
    margin: 20px;
}

/* Styling paragrpah for social link */
.social-link p {
    padding-bottom: 25px;
    font-size: .9em;
    line-height: 25px;
}

/* Styling the links inside the section */
.social-link ul li a {
    color: #FA4A0c;
}

.social-link ul {
    text-align: left;
}

.social-link ul li {
    padding: 10px;
}

.contact {
    font-size: 3em;
}

/* Making the forms width 100% */
#fullname,
#youremail,
#message {
    width: 100%;
    margin: .5em 0em .5em 0;
    font-size: 1.2em;
}

/* Making more space for the message section */
#message {
    height: 6em;
}

/* Giving the map a margin */
.min-margin,
.location {
    margin: 1em 0em .5em 0em;
}

/*  for this specific section. make sure the text is aligned to the left side of the page */
.contact-us {
    text-align: left;
    background-color: seashell;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin: 20px;
}

/* styling the send button and giving it a similar animation like the other buttons */
.contact-btn {
    margin: 20px;
}

.contact-btn a {
    text-align: left;
}

.location-map {
    max-width: 100%;
}

/* Giving the map a width of 100% */
iframe {
    max-width: 100%;
}

/* Styling the back to top link */
.back-to-top {
    font-size: .6em;
    color: #FA4A0c;
}

/* giving these 3 sections a fade in translate animation */
.intro-grid,
.page-h2,
.contact-social {
    opacity: 0;
    animation-name: intro-grid;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
    animation-fill-mode: forwards;
}

@keyframes intro-grid {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/* Giving all the cards in the about section an animation . there is a delay on the animation since we cannot use javascript to appply to it. there is a 2 second delay and a further .2 additinoal delay on the adjacent card */
.card1 {
    opacity: 0;
    animation-name: card1;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes card1 {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.card2 {
    opacity: 0;
    animation-name: card2;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.2s;
}

@keyframes card2 {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.card3 {
    opacity: 0;
    animation-name: card3;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
}

@keyframes card3 {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.card4 {
    opacity: 0;
    animation-name: card4;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, .51, .35, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.6s;
}

@keyframes card4 {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}




/* ***********************************************
****************Desktop Styles***********************
************************************************** */

@media screen and (min-width:760px) {
    html {
        /* increasing the font size for the whole html */
        font-size: 1.2em;
    }

    /* switching the header background to white to match the figma file */
    header {
        background-color: white;

    }

    /* Styling the navigation. making it flex to appear in one line. This div includes the logo with the navigation. the logo was seperate then the navigation */
    .nav-list {
        display: flex;
        justify-content: flex-end;
        padding-right: 100px;
        padding-top: 10px;

    }

    /* making the navigation display in a flex to appear in a line. */
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Adjusting the padding and font */
    nav ul li {
        padding-left: 100px;
        font: 1em;
    }

    nav ul li a {
        font-size: .8em;
    }

    /* Adding a background image to the header and making the width a 100% */
    .welcome-header {
        background-image: url(../images/Rectangle48.png);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 100%;
    }

    /* Styling the h1 of the site and header of the website */
    h1 {
        font-size: 3em;
        color: white;
        margin: 10px 230px 0 230px;
        line-height: 75px;

    }

    .welcome-food {
        font-size: 1.3em;
        font-weight: 550;
        color: white;

    }

    .welcome-paragraph {
        color: white;
    }

    /* CHanging colors for the buttons since it doesnt have good contrast with the banner */
    .header-btn2 {
        color: white;
        border-color: white;
        background-color: transparent;
    }

    /* Displaying them in flex but now in a row */
    .welcome-btns {
        flex-direction: row;
        justify-content: center;

    }

    .btn1-space {
        margin-bottom: -50px;
        margin-right: 10px;
    }

    .btn2-space {
        margin-left: 10px;
    }

    /* resizing the width of the two mobile image */
    .two-mobile {
        width: 50%;
    }

    /* GIving the website a max width of 1200px. this only containers the main contant */
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    hr {
        color: #737373;
        opacity: 100%;
    }

    /* Displaying the sections in flex */
    .section-one,
    .section-two,
    .section-three {
        display: flex;
        align-items: center;
    }

    /* Aligning items left in the desktop version */
    .section-one h3,
    .section-two h3,
    .section-three h3 {
        font-size: 1em;
        text-align: left;
        margin-bottom: 20px;

    }

    .section-one h2,
    .section-two h2,
    .section-three h2 {
        font-size: 1.7em;
        text-align: left;
        line-height: 50px;
        margin: 0 60px 0 50px;
    }

    .section-two {
        margin-left: 75px;
    }

    /*  adjusting margins paddings and font sizes */
    .section-one p,
    .section-two p,
    .section-three p {
        font-size: 1.1em;
        text-align: left;
        margin: 30px 200px 0 50px;
    }

    /* reordering 2 of the sections to match the prototype */
    .section-one-image,
    .section-three-image {
        order: -1;
    }

    .section-one-image,
    .section-two-image,
    .section-three-image {
        width: 70%;
        margin: 0 auto;
    }

    /* Styling the downloading section for main page */
    .download-p2 {
        display: block;
        color: white;
    }

    .download-p1 {
        display: none;
    }

    .download-app h3 {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .download-app p {
        color: white;
    }

    /* Giving the downloading section a background image */
    .downloading-section {
        background-image: url(../images/Rectangle47.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    /* Similarly styling the buttons */
    .download-button a {
        margin: 10px;
        font-size: 1.1em;
        font-weight: 600;
    }

    /* Adding a background image to the about pages heading */
    .about-background {
        background-image: url(../images/about-us-banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px;
    }

    /* Styling the about page and making the section contents align left */
    .about-intro,
    .our-story {
        text-align: left;
        border-radius: 10px;
    }

    .about-intro p,
    .our-story p {
        font-size: .8em;
    }

    /* MAking sure the cards take up equal space and styling them */
    .cards p {
        align-items: baseline;
        font-size: .8em;
        text-align: left;
        padding: 0 20px 20px 20px;
        margin: 0;
    }

    .cards h3 {
        font-size: 1em;
        text-align: left;
        padding: 20px 0 0 0;
        margin: 10px 20px 20px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, auto);
        margin: 0;
    }

    /* Giving some space below the cards */
    .cards {
        padding-bottom: 30px;
    }

    .about-join {
        padding: 50px 200px 50px 200px;
    }

    /* Displaying the contact section as grid to style them accordingly */
    .intro-grid {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "one one one one three three"
            "two two two two three three";
        gap: 20px;

    }

    /* Giving the section values for grid template areas */
    .about-intro {
        grid-area: one;
    }

    .our-story {
        grid-area: two;
    }

    /* styling the h1 for contact page */
    .contact-background h1,
    .about-background h1 {
        text-align: center;
        margin: auto;
    }

    /* giving the image a grid area and styling */
    .delivery-img {
        grid-area: three;
        margin-top: 0;
        padding: 20px;
        padding-bottom: 65px;
        height: 86%;
        border-radius: 10px;
    }

    /* Adding a banner image to contact page as a background image */
    .contact-background {
        position: relative;
        background-image: url(../images/contact-us-banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px;
    }

    /* Styling the contact pages section paragraphs */

    .contact-info p,
    .contact-email p,
    .social-link p {
        font-size: 1em;
        text-align: left;
        line-height: 30px;
    }

    /* Making the contact section display as flex */
    .contact-social {
        display: flex;
        justify-content: space-evenly;
    }

    .contact-info,
    .social-link {
        border-radius: 10px;
    }

    /* changing font size for desktop */
    .contact {
        font-size: 2.5em;
        padding-top: 30px;
    }

    .send-us {
        padding-bottom: 20px;
    }

    /* CHanging form font size for desktop */
    #fullname,
    #youremail,
    #message {
        font-size: 1.2em;
    }

    /* Displaying map at a 100% width */
    iframe {
        width: 100%;
    }

    /* Adjusting the map */
    .location-map {
        padding: 30px 0 30px 0;
    }

    /* Giving the map a background color */
    .location {
        color: #192628;
    }

    /* styling the social links h3 and paragraphs to match the consistenct and balance */
    .social-link h3 {
        font-size: 1.2em;

    }

    .social-link p {
        font-size: .8em;
        line-height: 30px;
    }

}